.project-main {
  width: 100%;
  text-align: center;
}

.basic-projects {
  margin-left: 5%;
  margin-right: 5%;
}

.projects-heading-div {
  display: flex;
}

.projects-heading-div > * {
  flex: 1;
}

.projects-heading-text-div {
  text-align: center;
}

.projects-heading-img-div {
  align-items: center;
  justify-content: center;
}
.projects-heading-img-div > * {
  max-width: 80%;
  height: auto;
  margin-left: 2em;
  margin-top: 1em;
}

.projects-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 60px;
}

.projects-header-description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

#project_img {
  height: 50%;
  width: 50%;
  justify-content: center;
  margin-left: 5em;
}

@media (max-width: 1380px) {
  .projects-heading-text {
    font-size: 50px;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .projects-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .projects-heading-div {
    flex-direction: column;
  }

  .projects-header-description {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}
