.contact-main {
  width: 100%;
}

.basic-contact {
  margin-left: 5%;
  margin-right: 5%;
}

.contact-heading-div {
  display: flex;
}

.contact-heading-div > * {
  flex: 1;
}

.contact-heading-img-div {
  align-items: center;
  justify-content: center;
}

.contact-heading-text-div {
  text-align: center;
}

.contact-heading-img-div > * {
  max-width: 50%;
  height: auto;
  margin-left: 4em;
  margin-top: 4em;
}

.contact-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 60px;
}

.contact-header-description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#resume-btn:hover {
  color: #3498db;
  background-color: rgb(255, 255, 255);
  border-color: #3498db;
}

.contact-form-div {
  display: flex;
  margin-top: 5em;
}

.contact-form-div > * {
  flex: 1;
}

.form-box {
  padding: 1rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 00.25rem;
  border-bottom-right-radius: 00.25rem;
}

.form-box {
  position: relative;
  margin: 1rem -0.75rem 0;
  border: solid #7a7a7a56 1px;
}

.contact-form-img-div {
  align-items: center;
  justify-content: center;
}

.contact-form-img-div > * {
  max-width: 80%;
  height: auto;
  margin-left: 4em;
  margin-top: 4em;
}

@media (max-width: 1380px) {
  .contact-heading-text {
    font-size: 50px;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .contact-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .contact-heading-div {
    flex-direction: column;
  }

  .contact-header-description {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .contact-heading-img-div > * {
    max-width: 50%;
    height: auto;
    margin-left: 5em;
    margin-top: 4em;
  }

  .contact-form-div {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
}
