@font-face {
  font-family: "Lovely Home";
  src: local("Lovely Home"),
    url("./fonts/LovelyHome-9aBZ.ttf") format("truetype");
}

/* Header */
.navbar li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 20px;
}

.navbar-brand {
  display: block;
  text-decoration: none;
  font-size: 2em;
  line-height: normal;
  font-family: "Lovely Home";
}

.navbar-brand-brackets {
  line-height: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#row-div {
  padding: 0 20px;
}

/* Home */
.hero {
  width: 100%;
  padding: 0px 10px;
  margin: 0px auto;
  margin-top: 1rem;
}

.hero-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.hero-main {
  display: flex;
}

.hero-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.hero-text {
  margin-top: 80px;
  font-size: 70px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.hero-text-description {
  font-size: 20px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.hero-image-div > * {
  max-width: 90%;
  height: auto;
}

/* Media Query */
@media (max-width: 1380px) {
  .hero-text {
    font-size: 50px;
  }
  .hero-text-description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .hero-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .hero-text-description {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .hero-main {
    display: block;
  }
  .contact-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.btn {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  text-decoration: none;
}

.btn:hover {
  background: #3498db;
  color: rgb(255, 255, 255);
}

/* Contact */
